:root {
  /* Color */
  --clr-dark: #1f2937;
  --clr-light-grey: #f9faf8;
  --clr-grey: #e5e7eb;
  --clr-blue: #3882f6;

  /* Typography */
  --fs-2: 24px;
  --fs-3: 36px;
  --fs-1: 18px;
  --fs-4: 48px;
  --fw-9: 900;
}

/* Reset */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

a,
button {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Utility classes */

.bg-blue {
  background-color: var(--clr-blue);
}
.bg-dark {
  background-color: var(--clr-dark);
}
.bg-grey {
  background-color: var(--clr-grey);
}
.text-light-grey {
  color: var(--clr-light-grey);
}
.text-dark {
  color: var(--clr-dark);
}
.text-grey {
  color: var(--clr-grey);
}
.fs-48 {
  font-size: var(--fs-4);
}
.fs-36 {
  font-size: var(--fs-3);
}
.fs-24 {
  font-size: var(--fs-2);
}
.fs-18 {
  font-size: var(--fs-1);
}
.fw-900 {
  font-weight: var(--fw-9);
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

/* components */

.sign-up-btn {
  border-radius: 12px;
  border: none;
  padding-inline: 36px;
  color: var(--clr-grey);
  background-color: var(--clr-blue);
  font-size: var(--fs-1);
  height: 36px;
  font-weight: 700;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  place-items: center;
}

.sign-up-btn:hover,
.sign-up-btn:focus {
  scale: 1.1;
  transition-duration: 350ms;
  transition-timing-function: ease-out;
}

.header {
  justify-content: center;
  align-items: center;
  padding: 0;
}

.header-container {
  width: 1056px;
}

.header-bar {
  padding: 18px 0;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  margin-left: auto;
}

.nav-links {
  gap: 18px;
}

.link > a {
    padding-bottom: 3px;
    border: none;
    border-bottom:3px solid  var(--clr-dark);
    transition: border-color 0.3s ease-in-out;
}

.link > a:hover ,
.link > a:focus{
    border-bottom:3px solid  var(--clr-grey);
}

.info {
  margin-bottom: 96px;
}

.info-title {
  text-align: center;
  padding: 48px;
}

.info-cards {
  gap: 48px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  height: 260px;
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-shrink: 0;
}

.card-img-placeholder {
  border: 5px solid var(--clr-blue);
  border-radius: 12px;
  flex-grow: 1;
}

.card-text {
  margin-top: auto;
  text-align: center;
}

.quote {
  min-height: 500px;
  justify-content: center;
  align-items: center;
}

.quote-container {
  max-width: 888px;
  justify-content: center;
  align-items: center;
  padding-inline: 24px;
}

.quote-text {
  line-height: 1.5;
}

.quote-author {
  margin-left: auto;
}

.sign-up {
  padding: 48px 96px;
  margin: 96px auto;
  max-width: 1056px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  flex-shrink: 1;
  gap: 24px;
}

.sign-up .sign-up-btn {
  border: 3px solid var(--clr-grey);
  margin-left: auto;
}

.footer {
  height: 96px;
  justify-content: center;
  align-items: center;
}
